* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F4E9D7;
  color: D97D55;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6FA4AF;
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: #D97D55;
  margin: 0;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  background-color: #F4E9D7;
  border-radius: 5px;
  text-align: left;
}

.ouca{
  text-align: center;
}
.letra{
  text-align: left;
  margin-left: 40vh;
  color:rgb black

}

footer {
  text-align: center;
  padding: 10px;
  background-color: #6FA4AF;
  color:white
}

section p {
  text-align: left;
  display: block;
  width: 50%;
  color:rgb black
} 
