body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: #444;
  margin: 0;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 10px;
  background-color: rgb(138, 136, 136);
  border-radius: 5px;
  text-align: left;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color:white
}

